<% if !@exam.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <%= form_for @exam, html: { multipart: true } do |f| %>
    <%= f.label "Nombre" %>
    <%= f.text_field :name %>
    <%= f.label "Archivo adjunto"%>
    <%= f.file_field :attachment %>
    <%= f.submit "Subir", class: "btn btn-primary" %>
  <% end %>
</div>