<% if !@exam.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <%= form_for @exam, html: { multipart: true } do |f| %>
    <%= f.label "Nombre" %>
    <%= f.text_field :name %>
    <%= f.fields_for :pages do |p| %>
      <%= p.label "Imágenes" %><br>
      <%= p.file_field :image, :multiple => true, name: "pages[image][]" %>
    <% end %>
    <%= f.submit "Subir", class: "btn btn-primary" %>
  <% end %>
</div>